# deps
node_modules/

# builds
dist/
build/

# env / secretos
.env*
.vercel/

# editor / sistema
.vscode/
.DS_Store

# tests / coverage / logs
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
